*{margin: 0;padding: 0;}
*{box-sizing: border-box;}

.window{
    width: 500px;
    height: 444px;
    margin: 20px auto;
    overflow: hidden;
}

.images{
    display: flex;
    transition: all .8s;
}

.images > img{
    width: 100%;
}


