ul, ol{
  list-style: none;
}

*{
  margin: 0;
  padding: 0;
}

.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

#canvas{
  background: white;
  /* 加上下面三行代码可以让canvas固定住，手机上就不会晃动了 */
  position: fixed;
  top: 0;
  left: 0;
}

body{
  margin:0;
  overflow: hidden; /* 取消滚动条 */
}

.actions{
  position: fixed;
  top: 0;
  left:0;
  padding: 20px;
}

.actions svg{
  width: 2em;
  height: 2em;
  transition: all 0.1s; /* 过渡效果 */
  margin: 0 6px;
}

.actions svg.active{
  fill:red;
  transform: scale(1.2); /* 元素被激活后，扩大至原来的1.2倍 */
}

.color{
  position: fixed;
  top:60px;
  left:29px;
}

.color > li{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 10px 0;
  border: 1px solid grey;
  transition: all 0.3s;
}

.color > li.red{
  background: red;
}

.color > li.green{
  background: green;
}

.color > li.blue{
  background: blue;
}

.color > li.active{
  box-shadow: 0 0 0 1px black;
}

.sizes{
  position: fixed;
  right: 20px;
  top: 10px;
}

.sizes > li{
  margin: 20px 0;
}

.sizes > .thin{
  height: 0;
  width: 20px;
  border-top: 3px solid black;
}

.sizes > .thick{
  height: 0;
  width: 20px;
  border-top: 6px solid black;
}